*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
nav{
    background: darkblue;
    height: 80px;
}
.logo{
    float: left;
    color: #fff;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 80px;
    padding: 0 80px;
}
nav .menu{
    float: right;
    margin-right: 80px;
}
nav .list_item{
    display: inline-block;
    color:#fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 80px;
}
nav .list_item:hover{
    color: green;
}
.bars{
    float: right;
    color: #fff;
    font-size: 25px;
    margin-right: 80px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
@media(max-width: 992px){
    .logo{
        font-size: 30px;

    }
    nav .list_item{
        font-size: 15px
    }
}
@media(max-width: 768px){
    .bars{display: block;}
    nav .menu{
        position: fixed;
        top: 80px;
        background: #2c3e50;
        width: 100%;
        height: 100vh;
        transition: all 0.5s;
    }
    nav .list_item{
        display: block;
        text-align: center;
        margin: 50px 0;
        line-height: 25px;
    }
}